html {
  font-size: calc(100vw / 1920 * 10);
  --header-height: 8.4rem;
  --gap: 2.8rem;
  --soft: #f9ecdf;
  --color: #5d3136;
  --black: #010101;
  --white: white;
  --serif: "Space Grotesk", sans-serif;
  --sans: "Pathway Gothic One", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--serif);
  background: radial-gradient(ellipse at center, #dc8734 0%, #b75900 100%);
}

* {
  line-height: 100%;
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
}

canvas#sketch {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: #1d1d1d;
}

.loading-bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 10px; /* Aumentamos el grosor para mayor impacto */
  background: linear-gradient(
    90deg,
    #ff00ff,
    #00ffff
  ); /* Efecto de degradado */
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  box-shadow: 0 0 10px rgba(255, 0, 255, 0.7);
  animation: pulseGlow 1.5s infinite alternate;
  z-index: 9999;
  pointer-events: none;
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.9);
  }
}

.loading-bar.loaded {
  transform-origin: 100% 0;
  transition: transform 1.5s ease-in-out;
  display: none;
}

.list-imgs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  display: none;
}
img {
  width: 100px;
  border-radius: 50%; /* círculo perfecto */
  object-fit: cover; /* recorta para que no se deforme */
  border: 1px whitesmoke;
}
.control {
  position: fixed;
  left: 2rem;
  top: 2rem;
  z-index: 3;
  display: flex;
  gap: 2rem;
}

.control button {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: all 0.25s ease-in-out;
  border-radius: 50px;
  padding: 1rem 4rem;
}
button:hover {
  color: #1d1d1d;
  transform: scale(1.1);
  background: greenyellow;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
