html {
  font-size: calc(100vw / 1920 * 10);
  --header-height: 8.4rem;
  --gap: 2.8rem;
  --soft: #f9ecdf;
  --color: #5d3136;
  --black: #010101;
  --white: white;
  --serif: "Space Grotesk", sans-serif;
  --sans: "Pathway Gothic One", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--serif);
  background: radial-gradient(ellipse at center, #dc8734 0%, #b75900 100%);
}

* {
  line-height: 100%;
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
}

canvas#sketch {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: #1d1d1d;
}

.list-imgs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  display: none;
}
img {
  width: 100px;
  border-radius: 50%; /* círculo perfecto */
  object-fit: cover; /* recorta para que no se deforme */
  boder: 1px whitesmoke;
}
.control {
  position: fixed;
  left: 2rem;
  top: 2rem;
  z-index: 3;
  display: flex;
  gap: 2rem;
}

.control button {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: all 0.25s ease-in-out;
  border-radius: 50px;
  padding: 1rem 4rem;
}
button:hover {
  color: #1d1d1d;
  transform: scale(1.1);
  background: greenyellow;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
